<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:name=".CoinquyLife"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ico_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoinquyLife"
        tools:targetApi="31" >

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".Auth.PRESENTATION.UI.AuthActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".SelectionHouse.PRESENTATION.UI.CoinquyHouseSelectionActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".dashboard.UI.DashboardActivity"
            android:exported="true" >
        </activity>

        <activity
            android:name=".ProfileSetting.UI.SettingActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileSetting.UI.ProfileActivity" />
        </activity>

        <activity
            android:name=".ProfileSetting.UI.ProfileActivity"
            android:exported="true" />
    </application>

</manifest>